Source: ros-indigo-ompl
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@google.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libboost-all-dev
Homepage: http://ompl.kavrakilab.org
Standards-Version: 3.9.2

Package: ros-indigo-ompl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev
Description: OMPL is a free sampling-based motion planning library.
